*{
  margin: 0;
  font-family: "Helvetica Neue", Arial, sans-serif;
}
html{
  font-size: 16px;
}
nav {
  position: absolute;
  top: 0;
  z-index: 10;
}
a{
  text-decoration: none;
  font-size: 1.2em;
  font-weight: 600;
  text-transform: uppercase;
}
h1{
  color: white;
  text-transform: uppercase;
  font-size: 4rem;
}
p{
  font-size: 1.2rem;
}
.hero{
  position:relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.hero-content{
  position: relative;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  text-align: center;
}
.hero-text{
  position: relative;
  color: white;
}
.layer{
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.sky{
  height: 120%;
}

@media(min-height: 568px) and (max-width: 1200px){
  .sky{
    margin-top: -50px;
    width: 100%; 
    height: 120%;
  }
  h1{
    font-size: 2em;
  }
}
@media(max-width: 567px){
  .hero{
    height: 100vh;
  }
  .sky{
    width: 120%;
  }
  .mountains{
    z-index: 2;
  }
  .lake{
    z-index: 3;
  }
  h1{
    width: 100%;
    font-size: 1.5em;
  }
  p{
    padding: 0px 30px;
    font-size: 1rem;
  }
}
